<div class="container">
  <div class="row">
    <div class="col-12">
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
        <% if notifications.exists? %>
          <%= render notifications %>
          <%= paginate @notifications %>
        <% else %>
          <p class="text-center mt-5"><strong>通知はありません</strong></p>
        <% end %>
    </div>
  </div>
</div>

