<div class="container">
  <div class="row justify-content-center mx-auto">
    <div class="notification_box">
      <h3 class="text-center mt-3">通知</h3>
        <!--<= link_to destroy_all_notifications_path, method: :delete do %>-->
        <!--  <i class="fas fa-trash" style="color: black;"></i>-->
        <!--  <h7 style="color: black;">全削除</h7>-->
        <!--< end %>-->
         <hr>
      <% if @notifications.exists? %>
        <div class="users-index">
          <%= render @notifications %>
          <%= paginate @notifications %>
        </div>
      <% else %>
        <p class="text-center mt-5"><strong>通知はありません</strong></p>
      <% end %>
    </div>
  </div>
</div>
