<div class="container">
  <div class-"row">
    <div class="col-lg-12">
      <!--プロフィール画像、名前と紹介文-->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!--自身の投稿一覧-->
      <= tasks.each do |task| %>
      <div class="col-lg-8">

      </div>
      < end %>
    </div>
  </div>
</div>