<div class="container">
  <div class-"row">
    <div class="col-lg-3">
      <!--プロフィール画像、名前と紹介文-->
      <div class="table">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th><%= attachment_image_tag @user, :profile_image, fallback: "icon_110950_256.png" %></th>
            </tr>
            <tr>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th><%= @user.introduction %></th>
            </tr>
            <tr>
              <th><%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-success rounded-circle" %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-8">
      <!--自身の投稿一覧-->
      <= tasks.each do |task| %>
      <div class="col-lg-8 mx-auto">
      </div>
      < end %>
    </div>
  </div>
</div>
