<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
    <!--画像の埋め込みを行う-->
    <h2><strong>StudyTasks</strong> へようこそ！</h2>
    <p class="mt-5">
      <strong>ここは「勉強がしたいが一人では心細い...」「誰かと共有しながらモチベーチョンを維持したい！」<br>
      と思う方達が集まるための交流サイトです</strong></p>
    </div>
    <div class="col-lg-12 mt-5">
      <!--右側の空白画像の埋め込み？-->
      <h3>ここでは何ができるの...?</h3>
      <ul class="mt-3">
        <li class="pb-3">一日の目標設定を行い、完了できたかステータスが更新できる</li>
        <li class="pb-3">ログインユーザーのタスクの閲覧ができ、コメントやいいねを残すことができ交流ができる</li>
        <li>受け取ったいいね、コメントは通知欄に表示されます</li>
      </ul>
    </div>
    <div class="col-lg-12 mt-5">
      <h4 class="pb-3">皆様が良き活動を行えるように</h4>
      <p>
        ＊心ないコメントや誹謗中傷はお控えください<br>
        皆様が良き活動を行えるようにトップページにお問合せフォームを設置していますので気づいたこと、
        改善してほしいことがありましたら<br>お気軽にお送りください。
      </p>
    </div>
    <div class="col-lg-12">
      <h5 class="text-center mt-5">皆様が良き時間を過ごせることを祈っております。</h5>
    </div>
  </div>
</div>