      <header class="masthead pt-5 mb-5" style="height: 600px; background-size: cover; background-image: url('assets/img/about/home-bg.jpg')">
        <div class="site-heading text-center pt-5">
         <h1 class="mt-5 mb-3"> StudyTasks</h1>
          <span class="subheading"><strong>
            「勉強がしたいが一人では心細い...」<br>「誰かと共有しながらモチベーチョンを維持したい！」<br>
            方達が集まるための場所です<br>ぜひご立ち寄り下さい</strong></span><br>
          <%= link_to "初めてみる", new_user_registration_path, class: "btn btn-outline-secondary mt-4" %>
        </div>
      </header>
　　　<!--idを指定し移動-->
      <section class="page-section mt-3 mb-5" id="services">
        <div class="container pb-5 pb-5">
          <div class="text-center mb-5">
            <h1 class="section-heading text-uppercase">StudyTasksへようこそ</h1>
            <h3 class="section-subheading text-muted">このサイトで使える機能をご紹介致します。</h3>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">タスク管理</h4>
              <p class="text-muted">今日何を目標にするのか明確にし完了したか、未完了なのかを確認できます。</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">コメント機能</h4>
              <p class="text-muted">ユーザーが立てたタスクに対してコメントを残すことができます。</p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-dark"></i>
                  <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="my-3">いいね機能</h4>
              <p class="text-muted">ユーザーが立てたタスクに対していいねを残すことができます。積極的にいいねしてみよう。</p>
            </div>
          </div>
        </div>
      </section>


      <section class="page-section" id="about">
        <div class="container pb-5 pb-5">
          <div class="text-center mb-5">
            <h1 class="section-heading text-uppercase">About</h1>
            <p class="mt-5">
              <strong>ここは「勉強がしたいが一人では心細い...」「誰かと共有しながらモチベーチョンを維持したい！」<br>
              と思う方達が集まるための交流サイトです</strong></p>
          </div>
          <div class="col-lg-12 mt-5">
            <h3>ここでは何ができるの...?</h3>
              <ul class="mt-3">
                <li class="pb-3">一日の目標設定を行い、完了できたかステータスが更新できる</li>
                <li class="pb-3">ログインユーザーのタスクの閲覧ができ、コメントやいいねを残すことができ交流ができる</li>
                <li class="pb-3">受け取ったいいね、コメントは通知欄に表示されます</li>
                <li>投稿する際文字制限はかけていないですが,できるだけタイトル２０文字以内、本文５０文字以内に収めましょう。<br>詳細をわかりやすく簡潔にまとめる練習にしてください。</li>
              </ul>
          </div>
          <div class="col-lg-12 mt-5 mb-5">
            <h4 class="pb-3">皆様が良き活動を行えるように</h4>
            <p>
              ＊心ないコメントや誹謗中傷はお控えください<br>
              皆様が良き活動を行えるようにトップページにお問合せフォームを設置していますので気づいたこと、
              改善してほしいことがありましたら<br>お気軽にお送りください。
            </p>
          </div>
        </div>
      </section>


      <section class="page-section" id="contact">
        <div class="container border-top border-secondary mt-5">
          <div class="text-center mb-5">
            <h2 class="section-heading text-uppercase mt-5">お問合せ</h2>
            <h5 class="section-subheading text-muted">何かありましたら下記よりお気軽にお問い合わせください</h5>
            <%= link_to "お問合せページ", inquiry_path, class: "btn btn-primary mt-5" %>
          </div>
        </div>
      </section>
