<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">StudyTasksへようこそ！</h2>
      <!--画面半分あたりまで画像の挿入　textは真ん中下の方-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        まずは新規登録をしてみましょう<br>
        登録することでタスクの投稿や、コメントを残せるようになります
      </p>
      <!--文の下に使い方の簡単な画像の挿入-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>新着投稿</h4>
      <!--４件だけ新着投稿を載せる　一覧へのリンクを忘れずに-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h5>お問合せ</h5>
    </div>
  </div>
</div>