     <header class="mw-auto bg-light pt-5 mb-5">
        <div class="site-heading text-center pt-5">
         <h1 class=" title mt-5 mb-5">
           <span>S</span>
           <span>t</span>
           <span>u</span>
           <span>d</span>
           <span>y</span>
           <span>T</span>
           <span>a</span>
           <span>s</span>
           <span>k</span>
           <span>s</span>
          </h1>
          <span class="subheading"><strong>
            「勉強がしたいが一人では心細い...」<br>「誰かと共有しながらモチベーチョンを維持したい！」<br>
            という方達が集まるための場所です<br>ぜひご立ち寄り下さい</strong></span><br>
          <%= link_to " 初めてみる", new_user_registration_path, class: "far fa-arrow-alt-circle-right btn btn-primary mt-4 mb-5" %>
        </div>
      </header>
        <div class="container pb-5 pb-5">
          <div class="text-center mb-5">
            <h1 class="section-heading text-uppercase">StudyTasksへようこそ</h1>
            <h3 class="section-subheading text-muted">このサイトで使える機能をご紹介致します。</h3>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <div class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
              </div>
              <h4 class="my-3">タスク管理</h4>
              <p class="text-muted">今日何を目標にするのか明確にし完了したか、未完了なのかを確認できます。</p>
            </div>
            <div class="col-md-4">
              <div class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-dark"></i>
                <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
              </div>
              <h4 class="my-3">コメント機能</h4>
              <p class="text-muted">ユーザーが立てたタスクに対してコメントを残すことができます。</p>
            </div>
            <div class="col-md-4">
              <div class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x text-dark"></i>
                  <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
              </div>
              <h4 class="my-3">いいね機能</h4>
              <p class="text-muted">ユーザーが立てたタスクに対していいねを残すことができます。積極的にいいねしてみよう。</p>
            </div>
          </div>
        </div>

        <div class="about-box pt-5 pb-5">
          <div class="text-center mb-5">
            <h1 class="section-heading text-uppercase mt-4">
              <span>A</span>
              <span>b</span>
              <span>o</span>
              <span>u</span>
              <span>t</span>
            </h1>
            <p class="col-sm-10 border-top border-bottom border-secondary pt-5 pb-5 mx-auto">
              <strong>ここは「勉強がしたいが一人では心細い...」「誰かと共有しながらモチベーチョンを維持したい！」<br>
              と思う方達が集まるための交流サイトです</strong></p>
          </div>

          <div class="about-container">
            <div class="about-box col-sm-8 ml-3 mr-3 text-left">
              <h3 class="mb-4">ここでは何ができるの...?</h3>
              <p class="about-text pb-2"><i class="fas fa-check-square"></i>  一日の目標設定を行い、完了できたかステータスが更新できる</p>
              <p class="about-text pb-2"><i class="fas fa-check-square"></i>  ログインユーザーのタスクの閲覧ができ、コメントやいいねを残すことができ交流ができる</p>
              <p class="about-text pb-2"><i class="fas fa-check-square"></i>  受け取ったいいね、コメントは通知欄に表示されます</p>
              <p><i class="fas fa-check-square"></i>  投稿する際文字制限はかけていないですが、できるだけタイトル２０文字以内<br>本文５０文字以内に収めましょう。詳細をわかりやすく簡潔にまとめる練習にしてください。</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><%= image_tag asset_path('shutterstock_1675442791.png'), class: "img-fluid" %></div>
          </div>
          <div class="col-lg-12 pt-5 mb-5 ml-3 mr-3">
            <h4 class="about-text pb-3">皆様が良き活動を行えるように</h4>
            <p>
              ＊心ないコメントや誹謗中傷はお控えください<br>
              皆様が良き活動を行えるようにトップページにお問合せフォームを設置していますので気づいたこと、
              改善してほしいことがありましたら<br>お気軽にお送りください。
            </p>
        </div>
        <div class="mt-5">
          <div class="text-center mb-5">
            <h2 class="section-heading text-uppercase mt-5">お問合せ</h2>
            <h5 class="section-subheading text-muted">何かありましたら下記よりお気軽にお問い合わせください</h5>
            <%= link_to "お問合せページ",inquiry_path, class: "inquiry-box btn btn-primary mt-5" %>
          </div>
        </div>
      </section>
