<div class="container">
  <div class="row">
    <div class="col-sm-10 mt-5 mb-5 mx-auto">
      <h2 class="mt-5 text-center">お問い合わせいただきありがとうございました</h2>
      <h4 class="mt-5 text-center">ご意見、ご感想の元改善していきたいと思います</h4>
    <div class="row">
      <%= link_to 'topへ戻る', root_path, class: "btn btn-success mx-auto mt-5" %>
    </div>
    </div>
  </div>
</div>