/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .navbar-nav {
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  list-style: none;
 }

 .navbar-nav li a{
  display: block;
  text-decoration: none;
  color: #333;
}

.navbar-nav li{
  margin-bottom: 10px;
}

.navbar-nav li a{
    /*線の基点とするためrelativeを指定*/
  position: relative;
}

.navbar-nav li.current a,
.navbar-nav li a:hover{
  color:#0481A2;
}

.navbar-nav li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#FFF;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.navbar-nav li.current a::after,
.navbar-nav li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


/*========= レイアウトのためのCSS ===============*/

.lead{
  padding: 50px 20px;
}

 .user-container {
  height: 500px;
 }

 footer{
   width: 100%;
   position: absolute;
 }

 @media screen and (max-width: 425px) {
  main {
    width: 100%;
    display: inline-block;
  }
 }