// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #fff;
}

header.-visible:before {
  transform: translate(0, 0);
}

header:before {
   background-image: image-url("shutterstock_1009710289.png");
   background-size: cover;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #a33e46;
   transform: translate(0, 100%);
   transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
   content: '';
}
