// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
   background-image: image-url("shutterstock_1009710289.png");
   background-size: cover;
}

body {
  background-color: #FFF;
}

span {
  color: transparent;
  animation: blur 5s ease-out infinite;
  -webkit-animation: blur 10s ease-out infinite;
}

span:nth-child(1) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
span:nth-child(2) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
span:nth-child(3) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
span:nth-child(4) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
span:nth-child(5) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
span:nth-child(6) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
span:nth-child(7) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
span:nth-child(8) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
span:nth-child(9) {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
span:nth-child(10) {
  animation-delay: 0.10s;
  -webkit-animation-delay: 0.10s;
}

@keyframes blur {
  0%    {text-shadow:  0 0 90px #333333; opacity:0;}
  5%    {text-shadow:  0 0 80px #333333;}
  15%   {opacity: 1;}
  20%   {text-shadow:  0 0 0px #333333;}
  80%   {text-shadow:  0 0 0px #333333;}
  85%   {opacity: 1;}
  95%   {text-shadow:  0 0 80px #333333;}
  100%  {text-shadow:  0 0 90px #333333; opacity:0;}
}

.about-box {
  background-color: #f5f5f5;
}


