// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  display: flex;
}
// hover の使い方（マウスを乗せると動く！）
.task-box {
  width: 550px;
  height: 200px;
}

.task-box:hover {
  width: 570px;
  height: 220px;
}