// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-box {
  display: flex;
}
// hover の使い方（マウスを乗せると動く！）
.task-box {
  width: 550px;
  height: 200px;
  background-color: #fff;
}

.task-box:hover {
  width: 570px;
  height: 220px;
}

.task-container {
  width: 100%;
  background:linear-gradient(45deg, #87ceeb,#e0ffff,#ffffff);/*グラデーションを定義*/
  background-size: 200% 200%;/*サイズを大きくひきのばす*/
  animation: bggradient 20s ease infinite;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}